.tab__content,
.cast__container {
  display: flex;
}
img.cast__img {
  width: 150px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cast__person {
  margin: 10px;
  border: 15px solid transparent;
  -webkit-border-image: url(https://parrot-tutorial.com/images/border-stars.png)
    30 round;
  -o-border-image: url(https://parrot-tutorial.com/images/border-stars.png) 30
    round;
  border-image: url(https://parrot-tutorial.com/images/border-stars.png) 30
    round;
}
